# OS
*.DS_Store
*.log
*.tsbuildinfo

# yarn berry
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

# build
**/node_modules/
**/dist/*
dist

# storybook
**/storybook-static/

# next.js
**/.next/
**/out/

# production
**/build

# nx
.nx/

# eslint
.eslintcache